.nosotros {
    
    display: flex;
    flex-direction: column ;
  
    margin: auto 3em;
    margin-bottom: 1em; 
    margin-top: 1em;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}

img {
    width: 10rem;
    align-self: center;
    border-radius: 50%;
    margin-right: 20px;
}